<div class="card_container">
	<div class="card">
		<div class="card_post">
			<div class="title">
				<a href="/blog/<%= article._id%>">
					<%= article.title%>
				</a>
			</div>
			<div class="created_at">
				<%= article.created_at%>
			</div>
			<div class="body">
				<section>
					<%= article.body%>
				</section>
			</div>
			<div class="comments_count">
				<%= article.comments.length%> comments
			</div>
		</div>
	</div>

	<% article.comments.forEach(function(comment) { %>
		<div class="card">
			<div class="card_comment">
				<span><a href="http://<%= comment.website %>"><%= comment.author%></a>:</span>
				<span><%= comment.comment%></span>
			</div>
		</div>
	<% })%>

	<div class="card">
		<div class="card_comment">
			<form id="form_comment" action="/blog/addComment" method="post" accept-charset="utf-8">
				<span>留下你的足迹</span><br />
				<input type="hidden" name="_id" value="<%= article._id%>"></input>
				<input type="text" name="author" id="author" placeholder="你的名字" />
				<br /><br />
				<input type="text" name="email" id="email" placeholder="邮箱地址" /><br /><br />
				<input type="text" name="website" id="website" placeholder="主页地址" /><br /><br />
				<textarea name="comment" rows="5" cols="30" id="comment" placeholder="评论内容"></textarea>
				必填
				<br /><br />
				<a id="btn_comment_new" class="a_btn">发表评论</a><br />
				<span id="comment_tip"></span>
			</form>
		</div>
	</div>

	<script>
		$(function() {
			document.querySelector('#btn_comment_new').addEventListener('click', function(ev){
			    ev.preventDefault();

			    // 输入验证
			    var author = $('#author').val();
			    var email = $('#email').val();
			    var comment = $('#comment').val();
			    if(comment.trim() === '') {
			    	$('#comment_tip').html('留言内容不能为空');
			    } else {
			    	if(author.trim() === '') {
			    		$('#author').val('路人');
			    	}

			   		$('#form_comment').submit();
			    }
			}, false);
		});
	</script>

</div>