<div class="card_container">
	<div class="card">
		<div class="card_post">
			<div class="title">
				<a href="/blog/<%= article._id%>">
					<%= article.title%>
				</a>
			</div>
			<div class="created_at">
				<%= article.created_at%>
			</div>
			<div class="body">
				<%= article.body%>
			</div>
			<div class="comments_count">
				<%= article.comments.length%> comments
			</div>
		</div>
	</div>

	<% article.comments.forEach(function(comment) { %>
		<div class="card">
			<div class="card_comment">
				<span><%= comment.author%>:</span><br />
				<span><%= comment.comment%></span>
			</div>
		</div>
	<% })%>

	<div class="card">
		<div class="card_comment">
			<form action="/blog/addComment" method="post" accept-charset="utf-8">
				<input type="hidden" name="_id" value="<%= article._id%>"></input>
				<div>
					<span>Author: </span>
					<input type="text" name="author" id="addCommentAuthor" />
				</div>
				<div>
					<span>Comment: </span>
					<textarea name="comment" rows="5" id="addCommentComment">
					</textarea>
				</div>
				<div>
					<span>Email: </span>
					<input type="text" name="email" id="addCommentEmail" />
				</div>
				<div id="editArticleSubmit">
					<input type="submit" value="Send" />
				</div>
			</form>
		</div>
	</div>

</div>