<div class="card_container">
	<% data.articles.forEach(function(article) { %>
		<div class="card">
			<div class="card_post">
				<div class="title">
					<a href="/blog/<%= article._id%>">
						<%= article.title%>
					</a>
				</div>
				<div class="created_at">
					<%= article.created_at%>
				</div>
				<div class="body">
					<article>
						<%- article.body%>
					</article>
				</div>
				<div class="comments_count">
					<%= article.comments.length %> 条评论
				</div>
				<a class="read_more" href="/blog/<%= article._id%>">
					阅读全文...
				</a>
			</div>
		</div>
	<% }) %>

	
	<div class="page_container">
		<div class="card">
			<div class="card_page">
				<ul>
					<li id="page_previous">
						<a href="/blog/page/<%= data.page_previous %>" title="上一页"
							<% if(data.page_previous == -1) { %>
								style="visibility:hidden"
							<% } %>
						>
							上一页
						</a>
					</li>
					<li id="page">
						<%= data.page_on%>
						/
						<%= data.page_max%>
					</li>
					<li id="page_next">
						<a href="/blog/page/<%= data.page_next %>" title="下一页"
							<% if(data.page_next == -1) { %>
								style="visibility:hidden"
							<% } %>
						>
						下一页
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>