<div class="card_container">
	<div class="card">
		<div class="card_archives">
			<span><%= title %></span>
			<a href="/admin/blog/new">发布新文章</a>
			<% for(var key in archives) { %>
				<div class="archive_year">
					<p><%= key %></p>
					<hr />
					<ul>
						<% archives[key].forEach(function(archive) { %>
							<li>
								<a class="delete_article" href="/admin/blog/delete/<%= archive._id%>">
									删除文章
								</a>&nbsp;
								<a class="update_article" href="/admin/blog/update/<%= archive._id%>">
									更新文章
								</a>
								<%= archive.created_at %>
								<a href="/admin/blog/<%= archive._id%>"><%= archive.title %></a>
							</li>
						<% }) %>
					</ul>
				</div>
			<% } %>
		</div>
	</div>
</div>